## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/

## NuGet packages
*.nupkg
packages/
*.snupkg

## Logs
*.log

## Entity Framework
Migrations/

## Configuration
appsettings*.json

## Others
*.db
*.sqlite
*.pdb
*.cache
*.vs/
